/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generic */

:root{
    --1u: 10px;
    --2u: 20px;
    --3u: 30px;
    --4u: 40px;
    --8u: 80px;
}

body{
    font-family: sans-serif;
}

button{
    cursor: pointer;
}

i{
    font-size: 16px;
}

/* utils */

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.flex{
    display: flex;
}

.white-bg{
    background-color: white;
}

.gray-bg{
    background-color: rgb(241, 241, 241);
}

/* header */

header{
    background-color: rgb(37,94,233);
    color: white;
}

/* navbar */


#nav-bar{
    display: flex;
    margin: var(--1u);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#nav-bar > *{
    padding: var(--1u);
}

#nav-bar .lateral{
    width: 25%;
}

#nav-bar .lateral:last-child{
    text-align: right;
}

#nav-bar div:not(.lateral){
    flex-grow: 1;
    text-align: center;
}

li{
    list-style-type: none;
    display: inline; 
    padding: 0 var(--1u);
}

li a{
    text-decoration: none;
    color: white;
}

nav button{
    border-radius: var(--2u);
    border: none;
    padding: var(--1u);
}

/* jumbotron */

#jumbotron{
    background-color: rgb(37,94,233);
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jumbotron article{
    min-height:350px;
    max-width: 800px;  
    text-align: center;
    line-height: 2rem;
    font-size: 21px;
    margin-top: var(--3u);
}

article h1{
    font-size: 50px;
    margin-bottom: 3rem;
}

#jumbotron button{
    font-size: 20px;
    padding: var(--1u) var(--2u);
    margin: var(--2u);
    border-radius: var(--3u);
    border: none;
}

button.black{
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
}

/* main */

section{
    min-height: 300px;
    padding: var(--8u);

}

.main-element{
    min-height: 400px;
    flex-grow: 1;
}

.main-element.small{
    flex-basis:calc(100% / 3);
}


.main-element.medium{
    text-align: center;
}

.main-element.big{
    min-height: 800px;
    text-align: center;
}

.main-element h2{
    margin: var(--2u) 0;
    font-size: 50px;
}

.main-element p{
    font-size: 20px;
    line-height: 28px;
}

.main-element .text{
    padding: 0 var(--4u);
}

.main-element.big img{
    width: 100%;
}

.download h3{
    font-size: 30px;
    margin-bottom: var(--4u);
    height: 60px;
    line-height: 100px;
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.download button{
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(100,138,232);
}

/* footer */

footer{
    background-color:rgb(43, 43, 43);
}

.footer-element-small, .footer-element-big{
    margin-top: var(--1u);
    margin-bottom: var(--3u);
    min-height: 400px;
}

.footer-element-small{  
    flex-basis: 30%;
    background-color: indianred;
    border: 2px dashed black;
}

.footer-element-big{  
    flex-grow: 1;
    background-color: teal;
    border: 2px dashed black;
    display: flex;
}

.footer-sub-element{
    flex-grow: 1;
    border: 2px dashed white;
}

.footer-bar{
    flex-basis: 100%;
    display: flex;
    padding: var(--2u) 0;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--2u);
}

.footer-bar div{
    background-color: pink;
    border: 2px dashed black;
    padding: 5px;
}

.container.flex:last-child{
    border-top: 2px solid rgb(100,138,232);
}